body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    padding: 20px;
}
.div-registration {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    /* width: 100%; */
    color: white;
    background-color: rgb(37, 150, 190);
     border-radius: 4px;
      padding: 10px 10px;
      

    /* margin-top: 20px; */
  
}
.registration-form{
    width: 420px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

}
label {
    display: block;
    margin-bottom: 6px;
    margin-top: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}