body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e0e0e0;
    padding: 20px;
    font-weight: bold;

    
}
.div-registration {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    /* width: 100%; */
    color: white;
    background-color: #ff710f;
     border-radius: 4px;
      padding: 10px 10px;
      

    /* margin-top: 20px; */
  
}
.registration-form{
    width: 420px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#2a3a53;

}
label {
    display: block;
    margin-bottom: 6px;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    
}
input:focus{
    outline: none;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color:#ff710f;

    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input{
      font-family: 'Times New Roman', Times, serif;
      font-weight: bolder;
}
